@charset "UTF-8";

$marginAuto: 0 auto;
$bgColor: lightblue;
$textColor: red;

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: $marginAuto;
}
@mixin clearfix {
    display: block;
    content: "";
    clear: both;
}
@mixin displayMode($x) {
    display: $x;
}

@mixin imgbox {
    width: 400px;
}

h1 {
    background-color: $bgColor;
    color: $textColor
}
#easy1 {
    &::after {
        @include clearfix();
    }
    @include flexbox();
    h1 {
        @include displayMode(inline-block);
        &::after {
            @include clearfix();
        }
    }
    h4 {
        @include displayMode(block);
    }
    img {
        @include imgbox();
    }
}

#easy2 {
    @extend #easy1 ;
}