@charset "UTF-8";

$marginAuto: 0 auto;
$bodyBgColor: #262627;
$bodyTextColor: #ececec;
$textColor: lightblue;

@mixin clearfix {
    display: block;
    content: "";
    clear: both;
}
@mixin blind {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -2;
}
@mixin flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin displayMode($x) {
    display: $x;
}

@mixin imgbox {
    width: 400px;
}


body {
    background-color: $bodyBgColor;
    color: $bodyTextColor;
}

h1 {
    color: $textColor;
}
#easy1 {
    &::after {
        @include clearfix();
    }
    
}

#easy2 {
    .wrap {
        @include flexbox();
        div {
            width: 600px;
            &:first-child {
                width: 100%;
                text-align: center;
                img {
                    width: 600px;
                }
            }
            h1 {
                @include displayMode(inline-block);
                &::after {
                    @include clearfix();
                }
            }
            h4 {
                @include displayMode(inline-block);
            }
            img {
                @include imgbox();
            }
        }
    }
}